.App {
  padding: 4rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
  flex: 1;
}

.heading {
  margin-bottom: 32px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.button_wrapper {
  position: fixed;
  right: 5%;
  top: 85%;
}